*~
*.DS_Store
*.class
*java#
*.apk
bin/
gen/
out/
tests/bin
tests/gen
obf
proguard
local.properties
gen-external-apklibs
target
release.properties
.idea
mvn-release-perform
.idea/workspace.xml
.idea/tasks.xml
*/build
